<div class="container">
 <h1 class="">SYMPTOMS OF <span class="coron">CORONAVIRUS</span> </h1>
<h2>Most common symptoms:</h2>
<li>fever</li>
<li>cough</li>
<li>tiredness</li>

<h2>Less common symptoms:</h2>
<li>sore throat</li>
<li>headache</li>
<li>aches and pains</li>

<h2>Serious symptoms:</h2>
<li>chest pain</li>
<li>difficulty breathing or shortness of breath</li>
<li>loss of speech or mobility, or confusion</li>
<p>Seek immediate medical attention if you have serious symptoms. Always call before visiting your doctor or health facility.
People with mild symptoms who are otherwise healthy should manage their symptoms at home.
On average it takes 5–6 days from when someone is infected with the virus for symptoms to show, however it can take up to 14 days.</p>
</div>
