body{
  font-family:Quintessential;
}


.information{
background: url(/assets/canva2.jpg);
position: absolute;
width: 1510px;
height: 100vh;
left: 22px;
top: 90px;
background-size: 100% 100%;
background-repeat: no-repeat;
}
