<div class="container">
  <div class="image">
    <div class="row">
      <div class="col-md-1"></div>
    <div class="col-md-6 info">
      <h1 class="pb-2">Infra Health</h1>
      <h2 class="py-3">Towards a Covid-Free country!</h2>
      <p>
        Know your COVID19 status, Interact with a doctor
      </p>
      <p>
        and get home care or hospital recommendations.
      </p>
    </div>
    <div class="col-md-5"></div>
    </div>
  </div>
</div>




<!-- <div class="container " style="color: white ">
  <div class="information "> -->

<!-- Background image -->

<!-- <div class="bg-image img-responsive justify-content-center align-items-center">
       <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
          <h1 style="font-size:48px; margin-top:60px; font-family:Arial; font-weight:">Infra Health</h1>
          <h2>Towards a Covid-Free country!</h2>
          <p>
            Know your COVID19 status, Interact with a doctor and get home care or
            hospital recommendations.
          </p></div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>

</div> -->
