@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');


.image{
  background: url(/assets/canva2.jpg);
  height: 90vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.info{
  color: white;
  /* font-family:Quintessential; */

}
.info>h1{
  font-size: 90px;
  padding-top:100px;
  font-family: 'Quintessential', serif;
}
.info>p{
  font-size:25px;

}
.info>h2{
  font-size:25px;
  font-family: 'Quintessential', serif;
}

div{
  font-family: 'Quintessential', serif;
}
