
  <div class="information">

    <!-- Background image -->

    <div class="bg-image img-responsive justify-content-center align-items-center">
       <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
          <h1>Infra Health</h1>
          <h2>Towards a Covid-Free country!</h2>
          <p>
            Know your COVID19 status, Interact with a doctor and get home care or
            hospital recommendations.
          </p></div>
        <div class="col-md-4"></div>
      </div>




      <!-- <p>Ensuring safety of your credentials!</p> -->
    </div>
  </div>

