<div class="container">
  <h2 class="animate__animated animate__bounceInLeft text-center p-3 font" style="font-size:6vmin; font-family: 'Quintessential', serif;">Health Checklist</h2>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-7">
      <div  class="quiz" *ngFor="let question of questions">
        <p>{{ question.id }} {{ question.question }}</p>
        <div class="div" *ngIf="patients">
          <div class="div">
            <label class="text-center">
              <span class="response">Yes</span><input
                (change)="onAnswer(question.id, true, patients[0].id)"
                type="radio"
                value="yes"
                name="answer_{{ question.id }}"
              />
            </label>
            <label>
             <span class="response">No</span> <input
                (change)="onAnswer(question.id, false, patients[0].id)"
                type="radio"
                value="no"
                name="answer_{{ question.id }}"
              />
            </label>
          </div>
        </div>
      </div>
      <div class="text-center">
      <button class="btn text-black" style="background-color: #f8fafa;margin-bottom:2rem ;" routerLink="/center" type="submit" *ngIf="!isLoggedin">Submit</button>
    </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
