*{
    background-color: #507C82;

    }
    .for2{
    text-decoration: none;
    text-align: center;
    }

.quiz>p{
  font-size:35px;

}


label{
  padding:10px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.response{
  padding-right: 10px;
}

button{
  border-radius: 30px;
}
