<div class="container">
  <div class="row1">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div
        class="container bg-image d-flex justify-content-center align-items-center">
      <a class="navbar-brand" routerLink="/homepage" routerLinkActive='active' href="#"><span>Infra</span> <b> Health LTD</b></a>
      <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >

        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/homepage" routerLinkActive='active' href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/news" routerLinkActive='active'>News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/symptoms" routerLinkActive='active' >Symptoms</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/center" routerLinkActive='active' href="#">Help Center</a>
            </li>
          <li class="nav-item" *ngIf='isLoggedin'>
            <a class="nav-link" routerLink="/profile" routerLinkActive='active' href="#">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/doctor" routerLinkActive='active' href="#">Doctors</a>
          </li>
        </ul>
          <span class="navbar-text">
            <a class="nav-link"  routerLink="" routerLinkActive='active' *ngIf="!isLoggedin">Login</a>
            <a class="nav-link" (click)="logout()" routerLink="" routerLinkActive='active'href="#" *ngIf="isLoggedin">Logout</a>

          </span>
        </div>
      </div>
    </nav>
  </div>
